/* heder */
.headerArea {
  display: flex;
  justify-content: right;
  margin: 32px 32px 0 0;
  gap: 32px;
}

.editArea {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.editArea:hover {
  opacity: 0.7;
}

.logoutArea {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logoutArea:hover {
  opacity: 0.7;
}

.far {
  width: 40px;
  height: 40px;
}

/* buttonArea */
.buttonArea {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.addButton {
  text-decoration: none;
  width: 20%;
  height: 64px;
  margin: 0 auto ;
  border: 1px solid #000;
  background: #FF8A8A;
  border-radius: 30px;
  text-decoration: none;
  line-height: 62px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.7;
}

.showButton {
  text-decoration: none;
  width: 20%;
  height: 64px;
  margin: 0 auto ;
  border: 1px solid #000;
  background: #CCE0AC;
  border-radius: 30px;
  text-decoration: none;
  line-height: 62px;
  font-size: 24px;
  color: #000;
}

.showButton:hover {
  opacity: 0.7;
}

/* trajectoryArea */
.trajectoryArea {
  width: 80%;
  margin: 64px auto 0px;
  background: #fff;
  text-align: center;
}

.showMap {
  text-decoration: none;
  width: 20%;
  height: 64px;
  margin: 0 auto ;
  border: 1px solid #000;
  background: #CCE0AC;
  border-radius: 30px;
  text-decoration: none;
  line-height: 62px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.showMap:hover {
  opacity: 0.7;
}