.commonArea {
  text-align: center;
  margin-top: 32px;
}

.formArea {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px auto;
}

.loginButton {
  text-decoration: none;
  width: 60%;
  height: 64px;
  margin: 0 auto ;
  border: 1px solid #000;
  background: #3B82F6;
  border-radius: 30px;
  text-decoration: none;
  line-height: 62px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.7;
}

.registerLink {
  font-size: 24px;
  color: #000;
}

.registerLink:hover {
  opacity: 0.7;
}