/* wrapper */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 3 / 2;
  padding: 16px;
}

/* header */
.headerArea {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 32px 0 32px;
}

.headerTitle {
  margin: 0;
  line-height: 50px;
}

.homeLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  position: absolute;
  right: 16px;
  color: #000;
}

.homeLink:hover {
  opacity: 0.7;
}

.farHome {
  width: 40px;
  height: 40px;
}

/* map */

.mapContainer {
  width: 100%;
  height: 100%;
}