.commonAera {
  text-align: center;
}

.formArea {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px auto;
}

.inputArea {
  width: 30%;
  margin: 0 auto;
}

.registerButton {
  text-decoration: none;
  width: 20%;
  height: 64px;
  margin: 0 auto ;
  border: 1px solid #000;
  background: #3B82F6;
  border-radius: 30px;
  text-decoration: none;
  line-height: 62px;
  font-size: 24px;
  color: #000;
}

.registerButton:hover {
  opacity: 0.7;
}

.loginLink {
  font-size: 24px;
  color: #000;
}

.loginLink:hover {
  opacity: 0.7;
}

